*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

section {
    display: flex;
    flex-direction: row;
    padding:.5rem;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: .5rem;
}
canvas{
    border-radius: 1rem;
}

article{
    padding: 1rem;
    border:10px solid rgb(200, 0, 160); 
    margin:.4rem;
    border-radius: .5rem;
}
.scoreBoard{
    margin: .5rem 0;
    text-align: center;
}
.scoreBoard h3{
    font-size: 2rem;
    text-transform: uppercase;
    color: #2b2b2b;
}
.scoreBoard p{
    font-size: 4rem;
    color:#2b2b2b;
}

.winDialog-wrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    display:grid;
    place-items: center;
}
.winDialog{
    display:grid;
    place-items: center;
    background-color: #fff;
    font-size: 5rem;
    box-shadow: 4px 5px 10px gray;
    padding: 3rem;
    border-radius: 4rem;
}
.winDialog h1{
    color:darkorchid;
    text-shadow: 2px 2px 8px #ff0000, 4px 4px 10px cyan;
    margin-bottom: 2rem;
}
.winDialog button{
    color:darkorchid;
    text-shadow: 2px 2px 8px #ff0000, 4px 4px 10px cyan;
    box-shadow: 2px 2px 8px #ff0000, 4px 4px 10px cyan;
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-size: 3rem;
    font-weight: 800;
    border: 5px solid violet;
    cursor: pointer;
}

.hide{
    display: none;
}